<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- head -->
		<%- include('./head'); %>
	</head>
	<body>
		<!-- nav -->
		<%- include('./header'); %>
		<!-- main -->
		<div class="container mx-auto px-4">
			<div class="flex flex-wrap justify-center">
				<div class="w-full max-w-sm">
					<div
						class="flex flex-col break-words bg-white border border-2 rounded shadow-md"
					>
						<div
							class="font-semibold bg-gray-200 text-gray-700 py-3 px-6 mb-0"
						>
							<h1 class="text-xl font-bold mb-2">
								<i class="fas fa-rss-square"></i>
								<span class="ml-2">Manage Feeds</span>
							</h1>
							<p class="text-gray-700 text-sm">
								Add or remove feeds from the list below.
							</p>
						</div>
						<div class="flex-1 bg-white">
							<ul class="w-full text-sm">
								<% feeds.forEach(function(feed) { %>
								<li class="border-b border-gray-200">
								
									<a
										href="<%= feed.link %>"
										class="block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out"
									>
										<div
											class="flex items-center px-4 py-4"
										>
											<div class="ml-3">
												<p
													class="text-gray-900 whitespace-no-wrap"
												>
													<span class="font-medium">
														<a
															href="<%= feed.link %>"
														>
															<%= feed.title %>
														</a>
													</span>
												</p>
												<p
													class="text-gray-500 whitespace-no-wrap"
												>
													<span class="font-medium">
														<a
															href="<%= feed.link %>"
														>
															<p>
																<%=//feed.description
																%>
															</p>
														</a>
													</span>
														<p><%= feed.rssurl %></p>
												</p>
											</div>
											<form
												action="/feeds/<%= feed._id %>"
												method="get"
											>

											<button

												type="submit"
												class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-50 active:text-gray-800 transition ease-in-out duration-150"
											>
												<i class="fas fa-edit"></i>
											</button>	

												
											</form>
											<form
												action="/feeds/<%= feed._id %>"
												method="post"
											>


												<input
													type="hidden"
													name="_method"
													value="delete"
												/>
												

												<button
													type="submit"
													class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-50 active:text-gray-800 transition ease-in-out duration-150"
												>
													<i class="fas fa-trash-alt"></i>
												</button>
											</form>
										</div>
									</a>
								</li>

								<% }) %>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="bg-gray-200 text-center text-gray-700 py-4 mt-5">
			<!-- foot -->
			<%- include('./footer'); %>
		</footer>
	</body>
</html>
