Single Post <a href="/feeds">Feeds</a><a href="/">Posts</a>

 <br>
<%= post.title %> </br><%= post.contentsnippet %> <%=//post.fullcontentsnippet %> <%= post.feed.title %><a href="<%= post.link %>" class="link">Continue to site</a>
